.col-5-5 {
    width: 47%;
}

.linked-btn {
    height: fit-content;
    position: relative;
    top: 4px;
    color: white !important;
    background-color: rgb(80, 80, 80) !important;
}

.alert-message {
    padding: 5px 15px;
    margin: 0 15px;
}

.bs {
    font-size: .9rem !important;
}
